<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xue.vehicle.mapper.MaintainRecordMapper">

    <resultMap type="com.xue.vehicle.entity.MaintainRecord" id="MaintainRecordResult">
        <result property="id"    column="id"    />
        <result property="maintainTime"    column="maintain_time"    />
        <result property="maintainName"    column="maintain_name"    />
        <result property="maintainDuration"    column="maintain_duration"    />
        <result property="fkVehicleId"    column="fk_vehicle_id"    />
        <result property="fkDriverId"    column="fk_driver_id"    />
    </resultMap>

    <resultMap id="MaintainRecordVOResult" type="com.xue.vehicle.entity.vo.MaintainRecordVO">
        <result property="id"    column="id"    />
        <result property="maintainTime"    column="maintain_time"    />
        <result property="maintainName"    column="maintain_name"    />
        <result property="maintainDuration"    column="maintain_duration"    />
        <result property="fkVehicleId"    column="fk_vehicle_id"    />
        <result property="fkDriverId"    column="fk_driver_id"    />
        <result property="driverName" column="driver_name"/>
        <result property="vehiclePlateNumber" column="vehicle_plate_number"/>
    </resultMap>

    <sql id="selectMaintainRecordVo">
        select id, maintain_time, maintain_name, maintain_duration, fk_vehicle_id, fk_driver_id from maintain_record
    </sql>

    <select id="selectMaintainRecordList" parameterType="com.xue.vehicle.entity.vo.MaintainRecordVO" resultMap="MaintainRecordVOResult">
        select mr.id, mr.maintain_time, mr.maintain_name, mr.maintain_duration, mr.fk_vehicle_id, mr.fk_driver_id,v.vehicle_plate_number, d.driver_name from maintain_record mr
        left join vehicle v on v.id = mr.fk_vehicle_id
        left join driver d on d.id = mr.fk_driver_id
        <where>
            <if test="maintainTime != null "> and maintain_time = #{maintainTime}</if>
            <if test="maintainName != null  and maintainName != ''"> and maintain_name like concat('%', #{maintainName}, '%')</if>
            <if test="maintainDuration != null "> and maintain_duration = #{maintainDuration}</if>
            <if test="fkVehicleId != null "> and fk_vehicle_id = #{fkVehicleId}</if>
            <if test="fkDriverId != null "> and fk_driver_id = #{fkDriverId}</if>
            <if test="driverName != null "> and d.driver_name like  concat('%', #{driverName} , '%')</if>
            <if test="vehiclePlateNumber != null "> and v.vehicle_plate_number like concat('%', #{vehiclePlateNumber}, '%') </if>
        </where>
    </select>

    <select id="selectMaintainRecordById" parameterType="Long" resultMap="MaintainRecordResult">
        <include refid="selectMaintainRecordVo"/>
        where id = #{id}
    </select>

    <insert id="insertMaintainRecord" parameterType="com.xue.vehicle.entity.MaintainRecord" useGeneratedKeys="true" keyProperty="id">
        insert into maintain_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="maintainTime != null">maintain_time,</if>
            <if test="maintainName != null">maintain_name,</if>
            <if test="maintainDuration != null">maintain_duration,</if>
            <if test="fkVehicleId != null">fk_vehicle_id,</if>
            <if test="fkDriverId != null">fk_driver_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="maintainTime != null">#{maintainTime},</if>
            <if test="maintainName != null">#{maintainName},</if>
            <if test="maintainDuration != null">#{maintainDuration},</if>
            <if test="fkVehicleId != null">#{fkVehicleId},</if>
            <if test="fkDriverId != null">#{fkDriverId},</if>
         </trim>
    </insert>

    <update id="updateMaintainRecord" parameterType="com.xue.vehicle.entity.MaintainRecord">
        update maintain_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="maintainTime != null">maintain_time = #{maintainTime},</if>
            <if test="maintainName != null">maintain_name = #{maintainName},</if>
            <if test="maintainDuration != null">maintain_duration = #{maintainDuration},</if>
            <if test="fkVehicleId != null">fk_vehicle_id = #{fkVehicleId},</if>
            <if test="fkDriverId != null">fk_driver_id = #{fkDriverId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMaintainRecordById" parameterType="Long">
        delete from maintain_record where id = #{id}
    </delete>

    <delete id="deleteMaintainRecordByIds" parameterType="String">
        delete from maintain_record where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
